<div class="uk-container uk-container-expand">
  <div class="uk-position-top">
    <nav
      class="uk-navbar-container uk-navbar-transparent page-navbar"
      uk-navbar
    >
      <div class="uk-navbar-center">
        <a href="" class="uk-navbar-item uk-logo"
          ><img
            data-src="assets/img/mib-logo.svg"
            width="200px"
            height="200px"
            uk-img
        /></a>
        <div class="uk-navbar-right navbar">
          <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="#about">About</a></li>
            <li class="uk-parent"><a href="#services">Services</a></li>
            <li class="uk-parent"><a href="#insurances">Insurances</a></li>
            <li class="uk-parent"><a href="#team">Team</a></li>
            <li class="uk-parent"><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="uk-navbar-center-right navbar-mobile">
          <a
            class="uk-navbar-toggle"
            uk-navbar-toggle-icon
            uk-toggle
            href="#offcanvas-slide"
          ></a>
        </div>
      </div>
    </nav>
    <div id="offcanvas-slide" uk-offcanvas>
      <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default">
          <li class="uk-parent"><a href="#about">About</a></li>
          <li class="uk-parent"><a href="#services">Services</a></li>
          <li class="uk-parent"><a href="#insurances">Insurances</a></li>
          <li class="uk-parent"><a href="#team">Team</a></li>
          <li class="uk-parent"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div
  class="uk-container-expand uk-background-cover container-hero-large"
  style="background-image: url(assets/img/hero-kid-blocks.jpg)"
>
  <div class="uk-padding-large uk-align-center">
    <!-- <div class="uk-text-center">
      <h1>Welcome</h1>
      <p>to</p>
      <h1>Maven In Behavior</h1>
    </div> -->
  </div>
</div>

<div class="uk-section uk-container-expand">
  <div class="uk-container uk-container-expand" id="about">
    <h1 class="uk-heading-medium">Maven in Behavior</h1>
    <div class="uk-panel uk-padding-medium">
      <article class="uk-article">
        <p>
          Maven in Behavior is a BCBA-founded and owned company providing high
          quality Applied Behavior Analysis (ABA) therapy. Maven in Behavior is
          center-based and we work with children and adolescents diagnosed with
          Autism as well as individuals exhibiting maladaptive behaviors and
          social deficits. At Maven in Behavior, we strive to provide high
          quality therapy by using evidence-based approaches and interventions.
        </p>
        <p>
          Maven in Behavior offers a variety of services at our therapy center.
          We offer 1:1 ABA therapy, parent training and consultations, school
          consultations, potty training, as well as treating picky eating and
          food refusal. Home and school visits may be available, upon request.
        </p>
        <p>
          Maven in Behavior works with several insurance companies, please
          contact us to verify if we are in network with your plan.
        </p>
      </article>
    </div>
    <p class="uk-text-center uk-text-bold uk-text-lead">
      To schedule a free 30 minute phone consultation, please call
      <a href="tel:305-586-2953">(305) 586-2953</a> or email
      <a href="mailto:info@maveninbehavior.com">Maven In Behavior Inc.</a>
    </p>
  </div>

  <div
    class="uk-container uk-container-expand uk-margin-xlarge-top"
    id="services"
  >
    <h1 class="uk-heading-medium">Services</h1>
    <div class="uk-child-width-1-2@s uk-padding-medium" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <!-- <div class="uk-width-auto">
                <img
                  class="uk-border-circle"
                  width="40"
                  height="40"
                  src="assets/img/placeholder_600x400.svg"
                />
              </div> -->
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                  ABA Therapy
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>
              Applied Behavior Analysis (ABA) is a scientific approach to
              understanding behavior. Maven in Behavior’s individualized therapy
              programs incorporate verbal behavior and natural environment
              teaching to target skills such as such as communication, daily
              living skills, social skills, and work on decreasing problem
              behaviors.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                  Parent Training and Consulations
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>
              Trainings are always provided alongside with your child’s
              individualized intervention plan. Maven in Behavior provides
              trainings and consultations aimed to help parents better
              understand their child’s programming and successfully generalize
              acquired skills to their child’s day to day life.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                  School Consulations
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>
              School consultations include teacher and staff trainings as it
              relates to Applied Behavior Analysis. Maven in Behavior also
              offers classroom behavior supports to help improve classroom
              management strategies.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                  Potty Training
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>
              Potty training is a necessary life skill and critical for
              independent living. Maven in Behavior uses an ABA based and
              individualized protocol to teach the skills necessary to
              successfully use a bathroom independently.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                  Picky Eating & Food Refusal
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>
              Picky eating and food refusal are commonly seen amongst children
              today. Maven in Behavior uses a behavioral approach to target
              individualized goals such as decreasing food refusal behaviors and
              increasing variety in diet. To intervene successfully, it is
              important that all medical causes for food refusal or evaluated
              prior to treatment.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="uk-container uk-container-expand uk-margin-xlarge-top"
    id="insurances"
  >
    <h1 class="uk-heading-medium">Insurances</h1>
    <div
      class="
        uk-text-center
        uk-grid-small
        uk-grid-column-small
        uk-grid-row-large
        uk-child-width-1-3@s
        uk-grid-match
        uk-padding-medium
      "
      uk-grid
    >
      <div>
        <div class="uk-card uk-card-default uk-card-body">Cigna</div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body">Aetna</div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body">Florida Blue</div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body">Magellan</div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          Family Empowerment Scholarship
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          Private Pay Accepted!
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-container-expand uk-margin-xlarge-top" id="team">
  <h1 class="uk-heading-medium">Team</h1>
  <div class="uk-child-width-1-2@s uk-padding-medium" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-width-1-1@m">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img
                class="uk-border-circle"
                width="175"
                height="175"
                src="assets/img/alanav2.jpg"
                alt="Alana Usategui Guilarte, M.S.,BCBA"
              />
            </div>
            <div class="uk-width-expand">
              <h2 class="uk-card-title uk-margin-remove-bottom">Alana</h2>
              Usategui Guilarte, M.S.,BCBA
              <p class="uk-text-meta">Owner & Founder</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>
            Alana is a Board Certified Behavior Analyst and the founder and
            owner of Maven in Behavior Inc. For the last 15 years Alana has been
            working with children on the Autism Spectrum. In 2015, Alana
            received her Masters Degree in Applied Behavior Analysis from Nova
            South Eastern University. In 2017 Alana became a Board Certified
            Behavior Analyst and opened the doors of Maven in Behavior in
            December 2021.
          </p>
          <p>
            Prior to her work as a BCBA, Alana was a special education teacher
            in New York City, as well as in Miami. Alana’s interest in this
            field began when her younger twin brothers were diagnosed with
            Autism and she saw first-hand the success of a well implemented ABA
            program. Alana also received a double bachelors degree in Psychology
            and Special Education from New York University.
          </p>
          <p>
            Alana’s personal background as well as her experience in a variety
            of special education settings gives her a unique approach in not
            only how she personally tailors programs for her clients, but as
            well as how she relates to the staff she works with and the families
            she serves.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-width-1-1@m">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img
                class="uk-object-cover uk-border-circle"
                width="175"
                height="175"
                src="assets/img/christinav2.jpg"
                alt="Christina Rodriguez, M.S.,BCBA"
              />
            </div>
            <div class="uk-width-expand">
              <h2 class="uk-card-title uk-margin-remove-bottom">Christina</h2>
              Rodriguez, M.S.,BCBA
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>
            Christina is a Board Certified Behavior Analyst since 2021 and has
            been working in the field since 2007. Before becoming a BCBA,
            Christina was a special education teacher for over ten years and as
            an autism specialist at the University of Miami. Christina’s vast
            experience in both education and behavior analysis help her to
            provide quality information to families and best practices to
            clients. Christina is the owner and founder of OJM behavioral
            services. Maven in Behavior and OJM will be working collaboratively
            to provide behavioral services and educational supports that will
            include: IEP support, classroom observations,and trainings.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-width-1-1@m">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img
                class="uk-border-circle"
                width="175"
                height="175"
                src="assets/img/suryv2.jpg"
                alt="Sury Maria Boutros Arias, RBT"
              />
            </div>
            <div class="uk-width-expand">
              <h2 class="uk-card-title uk-margin-remove-bottom">Sury</h2>
              Maria Boutros Arias, RBT
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>
            Sury was born in Camaguey, Cuba. From a young age, she has been
            passionate about helping children with special needs. She studied
            and graduated with honors from the University of Camaguey, receiving
            a bachelor's degree in Special Education. During her studies, she
            was very involved in multiple projects to increase awareness of
            Autism. Her main project was Esperanza Azul in 2014. During her last
            2 years of her college, she worked as a part-time teacher in a
            school for children with Autism. In 2017, she came to the United
            States and in 2019 became a Registered Behavior Technician (RBT).
          </p>
          <p>
            During the past 3 years, Sury has worked with multiple clients
            enriching her experience and devotion to her profession. In March of
            2022, Sury joined the Maven in Behavior team.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-width-1-1@m">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img
                class="uk-border-circle"
                width="175"
                height="175"
                src="assets/img/katherinv2.jpg"
                alt="Katherin Hernandez, RBT"
              />
            </div>
            <div class="uk-width-expand">
              <h2 class="uk-card-title uk-margin-remove-bottom">Katherin</h2>
              Hernandez, RBT
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>
            Katherin is a Registered Behavior Technician here at Maven In
            Behavior. She is an undergraduate student at Nova Southeastern
            University in the field of Speech-Language Pathology. She hopes to
            one day join the pediatric field in a medical setting and eventually
            publish her own research papers. She considers her experience at
            Maven in Behavior with your little ones to be invaluable and cannot
            wait to continue meeting and working with future clients, doing
            everything possible to achieve amazing progress.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-width-1-1@m">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img
                class="uk-border-circle"
                width="175"
                height="175"
                src="assets/img/angelav2.jpg"
                alt="Angela Perez, RBT"
              />
            </div>
            <div class="uk-width-expand">
              <h2 class="uk-card-title uk-margin-remove-bottom">Angela</h2>
              Perez, RBT
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>
            Angela is a Registered Behavior Technician here at Maven In
            Behavior. She is an undergraduate student at Florida International
            University in the field of Education. Her passion and interest in
            teaching pushed her to extend her knowledge in different teaching
            methods and how to accommodate to student needs for a successful
            learning experience. She intends to combine her experience with
            teaching subject areas with ABA therapy during her time with your
            little ones.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container footer" id="contact">
    <footer class="uk-text-center">
      <div>
        <img
          data-src="assets/img/mib-logo.svg"
          width="350px"
          heigh="350px"
          uk-img
        />
      </div>
      <address>
        <p>
          <i class="fas fa-envelope-open-text"></i>
          Email:
          <a class="uk-padding-small" href="mailto:info@maveninbehavior.com"
            >info@maveninbehavior.com</a
          >
          <br />
          <i class="fas fa-phone"></i>
          Phone:
          <a class="uk-padding-small" href="tel:305-586-2953">(305) 586-2953</a>
        </p>
        <p>
          <a
            href="https://www.google.com/maps/search/?api=1&query=7701+SW+62nd+Ave+STE+200,+South+Miami,+FL+33143"
            target="_blank"
            >7701 SW 62nd Ave STE 200<br />
            South Miami, FL 33143</a
          >
        </p>
        <p>
          <i class="fas fa-copyright"></i>
          Maven In Behavior Inc.
        </p>
      </address>
    </footer>
  </div>
</div>
